header{
    background-color: rgb(121, 121, 253);
}
#barraHeader {
    color: white;
    display: grid;
    grid-template-columns: repeat(2, auto); 
    margin: 0px 10px;
    align-items: center;
    font-size: 18px;
}

#barraNavegacion{
 display: flex;
 justify-content: space-between;
}